<nav 
  class="tw-relative tw-flex tw-flex-col lg:tw-flex-row tw-items-center"
  x-data="{ open: true }" 
  x-effect="document.body.classList.toggle('mobile-nav-open', open)"
  >
  <div class="tw-flex tw-w-full lg:tw-w-auto tw-justify-between">
    <div>Yoshino</div>
    <button class="lg:tw-hidden tw-rounded-lg focus:tw-outline-none focus:tw-shadow-outline tw-text-gray-800" @click="open = !open" @keyup.escape.window="open = false">
			<svg fill="currentColor" viewBox="0 0 20 20" class="tw-w-6 tw-h-6">
				<path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
				<path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
			</svg>
		</button>
  </div>
  <div 
    x-transition 
    :class="{'tw-flex': open, 'tw-hidden': !open}"
    class="lg:tw-relative tw-block tw-w-full lg:tw-w-auto"
    >
    <div x-popover:group class="tw-flex tw-flex-col lg:tw-flex-row tw-items-start lg:tw-items-center tw-py-2 tw-bg-white tw-z-20">

      <div x-data x-popover class="tw-relative tw-flex lg:tw-block tw-flex-col tw-items-center tw-z-20">
        <button x-popover:button type="button" class="tw-flex tw-items-center tw-gap-2 tw-px-6 tw-py-2.5 tw-text-gray-800 tw-font-semibold">
          Shop
    
          <!-- Heroicon: chevron-down -->
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-text-gray-800" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
    
        <div
          x-popover:panel x-cloak x-transition.origin.top.left
          class="tw-relative lg:tw-absolute tw-left-0 tw-mt-2 tw-w-60 tw-bg-white tw-shadow-md tw-z-20"
          >
          <div x-data="{ active: 0 }" class="tw-mx-auto tw-max-w-3xl">
            <div 
              x-data="{
                id: 1,
                get expanded() {
                return this.active === this.id
                },
                set expanded(value) {
                this.active = value ? this.id : null
                },
              }" 
              role="region" 
              class="tw-bg-white"
            >
              <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="tw-flex tw-w-full tw-items-center tw-justify-between tw-px-4 tw-py-2.5 tw-font-semibold tw-text-gray-800 tw-text-sm tw-text-left"
              >
                <span>Portable Power</span>
                <span x-show="expanded" aria-hidden="true" class="tw-ml-4">&minus;</span>
                <span x-show="!expanded" aria-hidden="true" class="tw-ml-4">&plus;</span>
              </button>
              <div x-show="expanded" x-collapse>
                <div class="tw-px-4 tw-pb-4">
                  <ul class="tw-flex tw-flex-col tw-gap-y-2">
                    <li>
                      <a href="#" class="tw-font-semibold tw-text-gray-800 tw-text-sm">Portable Power Stations</a>
                      <ul>
                        <li><a href="#">P330</a></li>
                        <li><a href="#">P660</a></li>
                        <li><a href="#">P2200</a></li>
                      </ul>
                    </li>
                    <li><a href="#" class="tw-font-semibold tw-text-gray-800 tw-text-sm">Hi-Capacity Power Stations</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div 
              x-data="{
                id: 2,
                get expanded() {
                return this.active === this.id
                },
                set expanded(value) {
                this.active = value ? this.id : null
                },
              }" 
              role="region" 
              class="tw-bg-white"
            >
              <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="tw-flex tw-w-full tw-items-center tw-justify-between tw-px-4 tw-py-2.5 tw-font-semibold tw-text-gray-800 tw-text-sm tw-text-left"
              >
                <span>Solar Panels</span>
                <span x-show="expanded" aria-hidden="true" class="tw-ml-4">&minus;</span>
                <span x-show="!expanded" aria-hidden="true" class="tw-ml-4">&plus;</span>
              </button>
              <div x-show="expanded" x-collapse>
                <div class="tw-px-6 tw-pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam quod natus deleniti architecto eaque consequuntur ex, illo neque iste repellendus modi, quasi ipsa commodi saepe? Provident ipsa nulla earum.</div>
              </div>
            </div>
            <div 
              x-data="{
                id: 3,
                get expanded() {
                return this.active === this.id
                },
                set expanded(value) {
                this.active = value ? this.id : null
                },
              }" 
              role="region" 
              class="tw-bg-white"
            >
              <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="tw-flex tw-w-full tw-items-center tw-justify-between tw-px-4 tw-py-2.5 tw-font-semibold tw-text-gray-800 tw-text-sm tw-text-left"
              >
                <span>Accessories</span>
                <span x-show="expanded" aria-hidden="true" class="tw-ml-4">&minus;</span>
                <span x-show="!expanded" aria-hidden="true" class="tw-ml-4">&plus;</span>
              </button>
              <div x-show="expanded" x-collapse>
                <div class="tw-px-6 tw-pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam quod natus deleniti architecto eaque consequuntur ex, illo neque iste repellendus modi, quasi ipsa commodi saepe? Provident ipsa nulla earum.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div x-data x-popover class="tw-relative tw-flex lg:tw-block tw-flex-col tw-justify-center tw-items-center tw-z-20">
        <button x-popover:button type="button" class="tw-flex tw-items-center tw-gap-2 tw-px-6 tw-py-2.5 tw-text-gray-800 tw-font-semibold">
          About
    
          <!-- Heroicon: chevron-down -->
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-text-gray-800" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
    
        <div
          x-popover:panel x-cloak x-transition.origin.top.left
          class="tw-relative lg:tw-absolute tw-left-0 tw-mt-2 tw-w-60 tw-bg-white tw-shadow-md tw-z-20"
          >
          <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
            About Us
          </a>
          <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
            Team
          </a>
        </div>
      </div>

      <div x-data x-popover class="tw-relative tw-flex lg:tw-block tw-flex-col tw-justify-center tw-items-center tw-z-20">
        <button x-popover:button type="button" class="tw-flex tw-items-center tw-gap-2 tw-px-6 tw-py-2.5 tw-text-gray-800 tw-font-semibold">
          Support
    
          <!-- Heroicon: chevron-down -->
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-5 tw-w-5 tw-text-gray-800" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
    
        <div
          x-popover:panel x-cloak x-transition.origin.top.left
          class="tw-relative lg:tw-absolute tw-left-0 tw-mt-2 tw-w-60 tw-bg-white tw-shadow-md tw-z-20"
          >
          <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
            FAQs
          </a>
          <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
            User Manuals
          </a>
          <a href="#" class="tw-block tw-w-full tw-px-4 tw-py-2.5 tw-text-left tw-text-sm hover:tw-bg-gray-50 disabled:tw-text-gray-500 tw-text-gray-800 tw-font-semibold" >
            Warranty / Returns
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


{% schema %}
{
  "name": "Custom Header",
  "class": "main-nav",
  "settings": []
}
{% endschema %}