@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .tw-hxl {
    @apply tw-uppercase tw-text-[4.25rem] tw-leading-[3.75rem] sm:tw-text-[4.6rem] sm:tw-leading-[4rem] xl:tw-text-[9.6rem] xl:tw-leading-[7.6rem] tw-font-bold tw-tracking-tight;
  }
  .tw-h2 {
    @apply tw-text-[5.6rem] lg:tw-text-[7.2rem] tw-leading-none tw-tracking-tight;
  }
  .tw-h3 {
    @apply tw-text-[4rem] lg:tw-text-[5.6rem] tw-leading-none tw-tracking-tight tw-font-bold;
  }
  .tw-h4 {
    @apply tw-text-[4rem] tw-leading-tight tw-tracking-tight;
  }
  .tw-h5 {
    @apply tw-text-2xl lg:tw-text-[3.2rem] tw-leading-tight tw-tracking-tight tw-font-semibold lg:tw-font-bold;
  }
  .tw-h6 {
    @apply tw-text-[2.4rem] tw-leading-tight;
  }
  .tw-h7 {
    @apply tw-text-[2rem] tw-leading-none tw-tracking-tight tw-font-bold;
  }

  .tw-text-display-1 {
    @apply tw-font-bold tw-text-[5.6rem] tw-leading-[4.6rem] lg:tw-text-[9.6rem] lg:tw-leading-[7.8rem] tw-uppercase tw-tracking-tight;
  }
}

@layer components {
  .button.button-hollow {
    @apply tw-bg-transparent tw-text-bee-green-200;
  }
  .tw-btn {
    @apply tw-inline-block tw-px-10 tw-py-4 tw-text-base tw-font-semibold tw-transition-all tw-uppercase tw-text-center;
  }
  .tw-btn-small {
    @apply tw-inline-block tw-px-6 tw-py-2 tw-text-sm tw-font-semibold tw-transition-all tw-uppercase tw-text-center;
  }
  .tw-btn-hollow {
    @apply tw-border-2;
  }
  .tw-btn-green {
    @apply tw-bg-bee-green-200 hover:tw-bg-bee-green-300 tw-text-white;
  }
  .tw-btn-hollow-green {
    @apply tw-border-bee-green-200 tw-text-bee-green-200
    hover:tw-bg-bee-green-300 hover:tw-text-white hover:tw-border-bee-green-300;
  }
  .tw-btn-white {
    @apply tw-bg-white tw-text-bee-green-200 hover:tw-bg-gray-100;
  }
  .blog-card-link {
    @apply tw-inline-block tw-text-bee-green-200 tw-underline tw-underline-offset-[6px] tw-font-semibold tw-decoration-2 hover:tw-text-bee-green-300;
  }

  .footer-contact-list li:not(:last-child) {
    @apply tw-border-b tw-border-gray-100;
  }
  .y-newsletter-form__field-wrapper .field:after {
    @apply tw-border-0 tw-border-b-2 tw-border-b-b-green-200 tw-shadow-none tw-left-0;
  }
  .y-newsletter-form__field-wrapper .field:hover.field:after {
    @apply tw-shadow-none tw-border-b-b-green-100;
  }
  .y-newsletter-form__field-wrapper .field__input {
    @apply tw-p-0 tw-bg-white;
  }
  .y-newsletter-form__field-wrapper .field__input:focus,
  .y-newsletter-form__field-wrapper .field__input:not(:placeholder-shown) {
    @apply tw-shadow-none tw-p-0;
  }
  .y-newsletter-form__field-wrapper .field__input:focus ~ .field__label,
  .y-newsletter-form__field-wrapper
    .field__input:not(:placeholder-shown)
    ~ .field__label {
    @apply tw-left-0;
  }
  .y-newsletter-form__field-wrapper .field__label {
    @apply tw-left-0;
  }

  .footer-social-links .social-icon-link svg {
    @apply tw-w-auto tw-h-5;
  }
  .footer-contact-list-item {
    @apply tw-flex tw-w-full tw-py-3 tw-gap-x-4 tw-text-gray-800;
  }
  .footer-contact-list-item .item-title {
    @apply tw-w-1/2 tw-font-semibold tw-shrink-0;
  }
}

@layer utilities {
  .bg-gray-gradient-1 {
    background: linear-gradient(
      180deg,
      #525e5a 0%,
      #7f8b87 60.09%,
      #fafafa 100%
    );
  }
  .bg-gray-gradient-2 {
    background: linear-gradient(
      180deg,
      #434f4b 0%,
      #7f8b87 67.77%,
      #fafafa 100%
    );
  }
  .bg-product-main {
    background: linear-gradient(
      180deg,
      #434f4b 0%,
      #7f8b87 67.77%,
      #a3aba8 100%
    );
  }
  @media (min-width: 990px) {
    .bg-product-main {
      background: linear-gradient(
        180deg,
        #525e5a 0%,
        #7f8b87 60.09%,
        #fafafa 100%
      );
    }
  }
  .bg-product-features-hero {
    background: radial-gradient(
      732.38% 75.15% at 50.13% 21.5%,
      #95a6a0 0.64%,
      #485551 9.51%,
      #23312c 98.44%
    );
  }
  @media (min-width: 640px) {
    .bg-product-features-hero {
      background: radial-gradient(
        72.22% 64.83% at 50% 39.15%,
        #95a6a0 11.11%,
        #485551 43.86%,
        #23312c 77.78%
      );
    }
  }

  .y-product-features-icon {
    @apply tw-flex tw-items-center tw-w-16 tw-h-16 tw-text-bee-green-200;
  }
  .y-product-features-icon svg {
    @apply tw-w-auto tw-h-full tw-max-w-[64px];
  }
}
